.prior-art {
	background: #4b608e;
	min-height: 1000px;
	padding: 150px;
	color: #fff;
    font-size: 21px;
}


.prior-art h1 {
    font-weight: 100;
    font-size: 45px;
    margin-top: 0;
    color: white;
}
